#particles-js{
  width: 100%;
  background: url(../images/portada.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;


}

.ancho-letras{
  top: 200px;
  position: absolute;
  font-family: 'Saira Extra Condensed', sans-serif;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.letras-slider{
  width: 80%;
}

.letras-slider h1{
  color: black;
  font-size: 70px;
}

.letras-slider p{
  opacity: .8;
  color: #222;
  font-size: 25px;
  padding-top: 50px;
}
