*{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  background: orange;
  opacity: .93;
  height: 70px;
  position: fixed;
  z-index: 10;
}

.ancho{
  width: 80%;
  height: 70px;
  /* background: red; */
  margin: auto;
}

.logo{
  width: 30%;
  height: 70px;
  /* background: blue; */
  float: left;
  padding-top: 10px;
  box-sizing: border-box;
}

.logo p a{
  color: #000;
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Saira Extra Condensed', sans-serif;
}

nav{
  width: 70%;
  height: 70px;
  /* background: olive; */
  float: left;
  text-align: right;
  padding-top: 24px;
  box-sizing: border-box;
}

nav ul li{
  display: inline;
}

nav ul li a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Saira Extra Condensed', sans-serif;
}

nav ul li a:hover{
  color: #444;
}

/* .ancho-letras .letras-slider .frase{
  color: black;
} */

































/*  */
