.tabla{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.tablax4{
  float: left;
  width: 25%;
  margin-top: 20px;
}

.tablaxd{
  float: left;
  width: 25%;
  margin-top: 10px;
}

.caja-precio{
  border: 1px solid orange;
  background: #30353c;
}

.icono-precio{
  color: #85c34a;
  padding-top: 20px;
  font-size: 3em;
  padding-bottom: 10px;
}

.caja-precio:hover{
  border: 5px solid orange;
}

.caja-precio h4{
  color: white;
}

.precio-1{
  color: #85c34a;
  font-size: 50px;
  font-weight: bold;
}

.dolar{
  font-size: 20px;
  color: #85c34a;
  vertical-align: super;
}

.mes{
  font-size: 15px;
  color: #999;
  vertical-align: text-bottom;
}

.lista-precios{
  list-style: none;
  padding: 20px 0;
  color: #81867d;
  padding-bottom: 50px;
}

.lista-espacios{
  padding: .25em;
  font-size: 15px;
}

.boton-contratar{
  margin-bottom: 25px;
}

.contratar-a{
  background: orange;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 70px;
  letter-spacing: 1px;
  width: 90%
}

.contratar-a:hover{
  background: #84c34a;
}

.destacado{
  background-color: #fff;
 box-shadow: 0 0 8px rgba(0, 0, 0, .9);    /*sombras */
  z-index: 500;
}

.destacado h4{
  color: #30353c;
  font-size: 30px;
}

.destacado .icono-tabla{
  font-size: 4em;
}

.destacado .contratar-a{
  background: #30353c;
}

.destacado .contratar-a:hover{
  background: orange;
}

.fa-star{
  color: orange;
}

.testimonios{
  margin-bottom: 10px;
}

.redes-sociales{
/* padding-bottom: 50px; */
/* margin-bottom: 50px; */
/* margin-bottom: 10px; */
}


.redes-sociales .tabla{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.redes-sociales .tablax4{
  float: left;
  width: 20%;
  margin-top: 20px;
}

.redes-sociales .caja-precio{
  border: 1px solid white;
  background: white;
}

.ligas{
  text-decoration: none;
  color: orange;
}

.redes-sociales .icono-precio{
  /* color: #85c34a; */

  color: orange;
  padding-top: 20px;
  font-size: 3em;
  padding-bottom: 10px;
}

.redes-sociales .caja-precio:hover{
  border: 5px solid white;
}



.redes-sociales .caja-precio h4{
  color: orange;
}


.redes-sociales .precio-1{
  /* color: #85c34a; */
  color: orange;
  font-size: 18px;
  font-weight: bold;
}

.redes-sociales .dolar{
  font-size: 14px;
  /* color: #85c34a; */
  color: black;
  vertical-align: super;
}



.contacto {
  /* margin-top: 50px; */
  clear: both;
	/* padding: 50px 0; */
	padding-top: 20px;
}




















/*  */
